{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "idiomatic"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "process": true
  },
  "rules": {
    "strict": 0,
    "semi": ["error", "always"],
    "one-var": [2, {
      "var": "always",
      "let": "always"
    }],
    "camelcase": ["error", {
      "properties": "never"
    }],
    "no-console": ["error", { "allow": [ "log", "warn", "error", "info", "debug", "groupCollapsed", "groupEnd"] }]
  }
}
